/* Distortion.module.css */
.crt {
    animation: textShadow 1.6s infinite;
}

.distortionLine {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
    opacity: 0.8;
    transform: translateX(-50%);
    animation: moveLine 15s linear infinite;
    pointer-events: none;
    z-index: 999;
}
